body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-img: url("../images/pillowTalkHome.png");

}
a {
  color: #00B7FF;
}



.convoBox{
  width: 50%;
  height: 75%;
  border: 2px solid black;
  float: right;
  overflow: hidden;
  li{
    list-style-type: none;
  }
}
