// general styles

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/pillowTalkBackground.png");
  background-repeat: no-repeat;
  background-size: cover;

}
a {
  color: #00B7FF;
}

.title{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 3em;
}

.btn{
  margin: 10px;
}


// chatroom styles
.container{
  background: white;
  .logout{
    float:right;
  }
  .users{
    li{
      list-style-type:none;
    }
  }
.convoBox{

  border: 2px solid black;
  height: 400px;
  overflow: hidden;
  margin: 20px;
  ul{
    .messageAuthor{
      font-weight: bold;
    }
  li{
    list-style-type: none;
    display: inline-block;
  }
}
}
}
